<?xml version="1.0" ?>
<launch>
  <include file="$(find kuka_lwr_bringup)/launch/bimanual_lwr_simulation_viz.launch">
    <!-- Override Argument to desired robot model -->
    <arg name="urdf-name"                   value="kuka_bimanual2_lwr_lasa.urdf.xacro"/>
    <arg name="rviz-config-path"            value="$(find kuka_lwr_bringup)/rviz-config/bimanual2-sim-rviz-config.rviz"/>  
  </include>
  
  <!-- Load LASA to IAI joint state parser -->
  <node name="lasa_bimanual_to_iai_parser" pkg="lasa_to_iai_parser" type="lasa_bimanual_to_iai.py" output="screen"/>
  
</launch>
