<?xml version="1.0" ?>
<launch>

  <!-- Required argument --> 
  <arg name="urdf-name"                   default="kuka_bimanual2_lwr_lasa.urdf.xacro"/>  
  <arg name="load-rviz"                   default="true"/>
  <arg name="rviz-config-path"            default="$(find kuka_lwr_bringup)/rviz-config/bimanual2-rviz-config.rviz"/>
  <arg name="ft_sensors"                  default="false"/>
  <arg name="tool_ns"                     default="tool"/>
  <arg name="hand_ns"                     default="hand"/>
  <arg name="not_bag"                     default="true"/>
  <arg name="vision"                      default="false"/>

  <!-- load up urdf to the parameter server -->
  <arg name="default-starting-config"     default="1"/>
  <arg name="urdf-path"                   default="$(find kuka_lwr_description)/robots/$(arg urdf-name)"/>
  <param name="robot_description"         command="$(find xacro)/xacro.py '$(arg urdf-path)'" />  

  <!-- some global variable -->
  <param name="/use_sim_time"           value="false"/>
  
  <!-- load up robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="log" />
   
  <!-- Aggregate Joint states -->
   <node name="joint_state_publisher" type="joint_state_publisher" pkg="joint_state_publisher" output="screen">     
      <param name="robot_description"         command="$(find xacro)/xacro.py '$(arg urdf-path)'" />  
        <rosparam param="source_list">[/KUKA_RightArm/joint_states, /KUKA_LeftArm/joint_states]</rosparam>
   </node>

  <!-- Upload Kinect-Robot Base Calibrated Transform -->
  <include file="$(find kuka_lwr_bringup)/launch/calibration/upload_frames4calibration.launch"/>

  <!-- Startup RVIZ --> 
  <group if="$(arg load-rviz)">   
    <node name="rviz" pkg="rviz" type="rviz"  args="-d $(arg rviz-config-path)"  required="true" />
  </group>
  
  <!-- Load LASA to IAI joint state parser -->
  <node name="lasa_bimanual_to_iai_parser" pkg="lasa_to_iai_parser" type="lasa_bimanual_to_iai.py" output="screen"/>

  <!-- Launch Vision if necessary -->    
  <group if="$(arg vision)">
        <include file="$(find vision_pkg)/launch/track_objects.launch">    
            <arg  name="local_ip"  default="128.178.145.215"/>
        </include>        

        <node pkg="tf" type="static_transform_publisher" name="robotworld2vision" args="-0.45 -0.18 0.01 -3.14 0 1.56 world_frame world 500" />
    
  </group>



  <!-- Launch FT Sensors if necessary -->
  <group if="$(arg ft_sensors)">

    <!-- When using the tool for peeling -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="tool2ft" args="-0.16 -0.02 0.005 1.56 0 -1.56 Peel_tool_root Tool_ft 500" /> -->
    <!-- When using the robot for peeling -->
    <node pkg="tf" type="static_transform_publisher" name="tool2ft" args="0.0 0.0 0.14 -1.56 0.0 0.0 left_arm_flange_link Tool_ft 500" />

  
    <node pkg="tf" type="static_transform_publisher" name="hand2ft" args="0 0 0.05 0 0 0 right_arm_flange_link Hand_ft 500" />

    <group if="$(arg not_bag)">

      <group ns="$(arg tool_ns)">  
        <include file="$(find netft_rdt_driver)/launch/ft_sensor.launch">
          <arg  name="ip_address"  default="128.178.145.98"/>
          <arg  name="bias"        default="False"/>
          <arg  name="rate"        default="100"/>  
          <arg  name="frame_id"    default="Tool_ft"/>
        </include>
      </group>

      <group ns="$(arg hand_ns)">  
        <include file="$(find netft_rdt_driver)/launch/ft_sensor.launch">
          <arg  name="ip_address"  default="128.178.145.248"/>
          <arg  name="bias"        default="False"/>
          <arg  name="rate"        default="100"/>  
          <arg  name="frame_id"    default="Hand_ft"/>
        </include>
      </group>

    </group>

    <!-- Startup rqt_plot for sensor readings -->  
    <node name="launch_tool_rqt" pkg="kuka_lwr_bringup" type="launch_tool_rqt.sh" />
    <node name="launch_hand_rqt" pkg="kuka_lwr_bringup" type="launch_hand_rqt.sh" />
  </group>
</launch>

