<?xml version="1.0" ?>
<launch>

  <!-- Set Robot model/rviz configuration path-->
  <arg name="urdf-name"                   default="kuka_bimanual_lwr_lasa.urdf.xacro"/>
  <arg name="load-rviz"                   default="true"/>
  <arg name="urdf-path" 	  	          default="$(find kuka_lwr_description)/robots/$(arg urdf-name)"/>
  <arg name="rviz-config-path"            default="$(find kuka_lwr_bringup)/rviz-config/bimanual-rviz-config.rviz"/>

  <!-- some global variables -->
  <arg name="default-starting-config" default="1"/>
  <param name="/use_sim_time" value="false"/>

  <!-- load up urdf to the parameter server -->
  <include file="$(find kuka_lwr_bringup)/launch/upload_bimanual_lwr.launch">
    <!-- Override Argument to desired robot model -->
    <arg name="urdf-name"                   value="$(arg urdf-name)"/>
    <arg name="load-rviz"                   value="$(arg load-rviz)"/>
    <arg name="rviz-config-path"            value="$(arg rviz-config-path)"/>  
  </include>
  
  <!-- start loopback controller manager -->
  <rosparam param="/pr2_controller_manager/joint_state_publish_rate">1000.0</rosparam> <!-- in [Hz], default: 100.0 -->
  
  <!-- conditionally upload start configuration of PR2 to parameter server -->
  <group if="$(arg default-starting-config)">
    <rosparam command="load"
      file="$(find kuka_lwr_bringup)/config/bimanual_lwr_start_config.yaml"
       ns="loopback_controllers"/> 
   </group>
   
   
  <node name="loopback_controllers" type="loopback_controller_manager" pkg="loopback_controller_manager" output="screen">
      <!-- for perfect sim: chose p=m/dt with damping=0 -->
      <param name="dt" value="0.001" /> <!-- in [s], default: 0.01 -->
      <param name="damping" value="0.0" /> <!-- default: 0.1 -->
      <param name="mass" value="0.01" /> <!-- default: 0.1 -->
  </node>

  <!-- IAI Velocity Controllers -->
  <include file="$(find kuka_lwr_bringup)/launch/controllers/bimanual_lwr_sim_vel_controllers.launch"/>
  
  <!-- IAI Position Controllers -->
  <include file="$(find kuka_lwr_bringup)/launch/controllers/bimanual_lwr_sim_pos_controllers.launch"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="log" />


  
  <!-- Upload Kinect-Robot Base Calibrated Transform -->
  <include file="$(find kuka_lwr_bringup)/launch/calibration/upload_frames4calibration.launch"/>
  <!-- include file="$(find kuka_lwr_bringup)/launch/calibration/world_to_camera_tf_broadcaster_good.launch"/ -->
  
</launch>
