<?xml version="1.0" ?>
<launch>

  <!-- Required argument --> 
  <arg name="urdf-name"		  	          default="kuka_lwr_lasa.urdf.xacro"/> 

  <!-- load up urdf to the parameter server -->
  <arg name="default-starting-config"     default="1"/>
  <arg name="urdf-path" 	  	          default="$(find kuka_lwr_description)/robots/$(arg urdf-name)"/>
  <param name="robot_description"         command="$(find xacro)/xacro.py '$(arg urdf-path)'" />  

  <!-- some global variable -->
  <param name="/use_sim_time"           value="false"/>

  <!-- load up robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="log" />
  
</launch>
