<?xml version="1.0" ?>
<launch>

  <!-- Set Robot model/rviz configuration path-->
  <arg name="urdf-name"					          default="kuka_lwr2_alone_lasa.urdf.xacro"/>
  <arg name="urdf-path"                   default="$(find kuka_lwr_description)/robots/$(arg urdf-name)"/>
  <arg name="load-rviz"                   default="true"/>
  <arg name="rviz-config-path"            default="$(find kuka_lwr_bringup)/rviz-config/lwr2-rviz-config.rviz"/>

  <!-- Load KUKA joint state visualization -->
  <include file="$(find kuka_lwr_bringup)/launch/load_kuka_viz.launch">
 	<!-- Override Argument to desired robot model -->
  	<arg name="urdf-name"		  	          value="$(arg urdf-name)"/>
  </include>

  <!-- Aggregate Joint states -->
   <node name="joint_state_publisher" type="joint_state_publisher" pkg="joint_state_publisher" output="screen">     
      <param name="robot_description"         command="$(find xacro)/xacro.py '$(arg urdf-path)'" />  
        <rosparam param="source_list">[/KUKA/joint_states]</rosparam>
        <rosparam param="rate">500</rosparam>
   </node>



  <!-- Upload Kinect-Robot Base Calibrated Transform -->
  <include file="$(find kuka_lwr_bringup)/launch/calibration/upload_frames4calibration.launch"/>
  <include file="$(find kuka_lwr_bringup)/launch/calibration/world_to_camera_tf_tabletop.launch"/>

  <!-- Startup RVIZ with given config -->
  <group if="$(arg load-rviz)">
    <node name="rviz" pkg="rviz" type="rviz"  args="-d $(arg rviz-config-path)"  required="true" />
  </group>
  
</launch>
