<?xml version="1.0" ?>
<launch>
  
   <!-- load up urdf to the parameter server -->
   <arg name="urdf-name" default="kuka_lwr2_lasa.urdf.xacro"/>
   <arg name="urdf-path" default="$(find kuka_lwr_description)/robots/$(arg urdf-name)"/>
   <param name="robot_description" command="$(find xacro)/xacro.py '$(arg urdf-path)'" />



   <!-- RVIZ SHIT -->
   <!-- load up rviz config-path -->
   <arg name="load-rviz"                   default="true"/>
   <arg name="rviz-config-path"            default="$(find kuka_lwr_bringup)/rviz-config/lwr2-rviz-config.rviz"/>

  <!-- Startup RVIZ with given config -->
  <group if="$(arg load-rviz)">
    <node name="rviz" pkg="rviz" type="rviz"  args="-d $(arg rviz-config-path)"  required="true" />
  </group>


  <!-- GAZEBO SHIT -->
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find lwr_gazebo)/worlds/empty_world.world"/>
    <!-- more default parameters can be changed here -->
  </include>
  
   <!-- Spawn a robot into Gazebo -->
   <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model arm_base" />

</launch>
