<?xml version="1.0" ?>
<launch>

  <!-- Set Robot model/rviz configuration path-->
  <arg name="urdf-name"                   default="kuka_lwr_lasa.urdf.xacro"/>
  <arg name="load-rviz"                   default="true"/>
  <arg name="rviz-config-path"            default="$(find kuka_lwr_bringup)/rviz-config/lwr-rviz-config_trans.rviz"/>
  <arg name="realtime"                    default="false"/>

  <!-- Load KUKA Realtime visualization -->
  <include file="$(find kuka_lwr_bringup)/launch/lwr_realtime.launch">
  <!-- Override Argument to desired robot model -->
    <arg name="realtime"                  value="$(arg realtime)"/>
    <arg name="urdf-name"                   value="$(arg urdf-name)"/>
    <arg name="load-rviz"                   value="$(arg load-rviz)"/>
    <arg name="rviz-config-path"            value="$(arg rviz-config-path)"/>    
  </include>

  <!-- PR2 Loopback Controllers Controllers -->
  <include file="$(find kuka_lwr_bringup)/launch/controllers/lwr_loopback_sim_controllers.launch"/>
  
  <!-- IAI Velocity Controllers -->
  <include file="$(find kuka_lwr_bringup)/launch/controllers/lwr_sim_vel_controllers.launch"/>
  
  <!-- IAI Position Controllers -->
  <include file="$(find kuka_lwr_bringup)/launch/controllers/lwr_sim_pos_controllers.launch"/>

  <!-- Load LASA to IAI joint state parser -->
  <node name="lasa_to_iai_parser" pkg="lasa_to_iai_parser" type="lasa_to_iai.py" output="screen"/>
  
</launch>
