<?xml version="1.0" ?>
<launch>

  <!-- Set Robot model/rviz configuration path-->
  <arg name="urdf-name"                   default="kuka_lwr_lasa.urdf.xacro"/>
  <arg name="urdf-path"                 default="$(find kuka_lwr_description)/robots/$(arg urdf-name)"/>
  <arg name="load-rviz"                   default="true"/>
  <arg name="rviz-config-path"            default="$(find kuka_lwr_bringup)/rviz-config/lwr-rviz-config.rviz"/>

  <!-- Load KUKA joint state visualization -->
  <include file="$(find kuka_lwr_bringup)/launch/load_kuka_viz.launch">
  <!-- Override Argument to desired robot model -->
    <arg name="urdf-name"                 value="$(arg urdf-name)"/>
  </include>

  <!-- Rename topic -->
   <remap from="/joint_states" to="/KUKA/joint_states"/>

  <!-- Upload Kinect-Robot Base Calibrated Transform -->
  <include file="$(find kuka_lwr_bringup)/launch/calibration/upload_frames4calibration.launch"/>
  <include file="$(find kuka_lwr_bringup)/launch/calibration/world_to_camera_tf_broadcaster_good.launch"/>

  <!-- Startup RVIZ with given config -->
  <group if="$(arg load-rviz)">
    <node name="rviz" pkg="rviz" type="rviz"  args="-d $(arg rviz-config-path)"  required="true" />
  </group>

</launch>
