<?xml version="1.0" ?>
<launch>

  <!-- Required argument --> 
  <arg name="urdf-name"                   default="kuka_bimanual_lwr_lasa.urdf.xacro"/>  
  <arg name="load-rviz"                   default="true"/>
  <arg name="rviz-config-path"            default="$(find kuka_lwr_bringup)/rviz-config/bimanual.rviz"/>

  <!-- load up urdf to the parameter server -->
  <arg name="default-starting-config"     default="1"/>
  <arg name="urdf-path" 	  	          default="$(find kuka_lwr_description)/robots/$(arg urdf-name)"/>
  <param name="robot_description"         command="$(find xacro)/xacro.py '$(arg urdf-path)'" />  

  <!-- some global variable -->
  <param name="/use_sim_time"           value="false"/>
  
  <!-- load up robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="log" />
   
  <!-- Aggregate Joint states -->
   <node name="joint_state_publisher" type="joint_state_publisher" pkg="joint_state_publisher" output="screen">    	
    	<param name="robot_description"         command="$(find xacro)/xacro.py '$(arg urdf-path)'" />  
        <rosparam param="source_list">[/r_arm_pos_controller/joint_states, /l_arm_pos_controller/joint_states]</rosparam>
   </node>

  <node pkg="using_markers" type="basic_shapes" name="basic_shapes" />
  <node pkg="box_tf_to_tp" type="box_tf_to_tp" name="box_tf_to_tp" />

  <!-- Upload Kinect-Robot Base Calibrated Transform -->
  <include file="$(find kuka_lwr_bringup)/launch/calibration/upload_frames4calibration.launch"/>
  <include file="$(find kuka_lwr_bringup)/launch/calibration/world_to_camera_tf_broadcaster_good.launch"/>

  <!-- Startup RVIZ with given config -->
  <group if="$(arg load-rviz)">
    <node name="rviz" pkg="rviz" type="rviz"  args="-d $(arg rviz-config-path)"  required="true" />
  </group>

  
</launch>
