<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kuka_bimanual_lwr_description">
	<xacro:include filename="$(find kuka_lwr_bringup)/models/table/table2.urdf.xacro" />
	<xacro:include filename="$(find kuka_lwr_description)/defs/materials.xml"/>
	<xacro:include filename="$(find kuka_lwr_description)/urdf/kuka_lwr_arm_lasa.urdf.xacro"/>
	<kuka_lwr_arm parent="leg4_link" name="left">
          <origin xyz="1.4 0.15 0" rpy=" 0 0 1.56"/>
        </kuka_lwr_arm>


	<xacro:include filename="$(find kuka_lwr_description)/urdf/kuka_lwr_arm_lasa.urdf.xacro"/>
	<kuka_lwr_arm parent="leg4_link" name="right">
          <origin xyz="0.2 0.15 0" rpy=" 0 0 1.56"/>
        </kuka_lwr_arm>



	<!-- <xacro:include filename="$(find kuka_lwr_bringup)/models/Object/Object.urdf.xacro" />
	<Object parent="leg4_link">
          <origin xyz="0.6 -5.0 0" rpy=" 0 0 1.56"/>
        </Object> -->
</robot>
