<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kuka_bimanual_lwr_description">
	<xacro:include filename="$(find kuka_lwr_description)/defs/materials.xml"/>
	<xacro:include filename="$(find kuka_lwr_bringup)/models/table/table2.urdf.xacro" />
	<robot_table name="one">
      <origin xyz="0 0 0" rpy=" 0 0 0"/>
    </robot_table>
	<xacro:include filename="$(find kuka_lwr_description)/urdf/kuka_lwr_arm_lasa.urdf.xacro"/>
	<kuka_lwr_arm parent="one_leg2_link" name="first">
          <origin xyz="0.20 -0.45 0.0" rpy=" 0 0 1.56"/>
    </kuka_lwr_arm>
	<xacro:include filename="$(find kuka_lwr_description)/urdf/kuka_lwr_arm_lasa.urdf.xacro"/>
	<kuka_lwr_arm parent="one_leg2_link" name="second">
          <origin xyz="1.40 -0.45 0" rpy=" 0 0 1.56"/>
    </kuka_lwr_arm>


	<xacro:include filename="$(find kuka_lwr_bringup)/models/table/table2dep.urdf.xacro" />
	<robot_dep_table parent="one_table_top_link" name="two">
      <origin xyz="0 -2 0" rpy=" 0 0 0"/>
    </robot_dep_table>

	<xacro:include filename="$(find kuka_lwr_description)/urdf/kuka_lwr_arm_lasa.urdf.xacro"/>
	<kuka_lwr_arm parent="two_leg2_link" name="third">
          <origin xyz="0.20 -0.45 0.0" rpy=" 0 0 1.56"/>
    </kuka_lwr_arm>
	<xacro:include filename="$(find kuka_lwr_description)/urdf/kuka_lwr_arm_lasa.urdf.xacro"/>
	<kuka_lwr_arm parent="two_leg2_link" name="fourth">
          <origin xyz="1.40 -0.45 0" rpy=" 0 0 1.56"/>
    </kuka_lwr_arm>


</robot>
