<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kuka_bimanual_lwr_description">
	<xacro:include filename="$(find kuka_lwr_bringup)/models/table/table2.urdf.xacro" />
	<xacro:include filename="$(find kuka_lwr_description)/defs/materials.xml"/>
	<xacro:include filename="$(find kuka_lwr_description)/urdf/kuka_lwr_arm_lasa.urdf.xacro"/>
	<kuka_lwr_arm parent="leg2_link" name="left">
          <origin xyz="0.0 -1.3 0.14" rpy=" 0 0 0"/>
        </kuka_lwr_arm>


	<xacro:include filename="$(find kuka_lwr_description)/urdf/kuka_lwr_arm_lasa.urdf.xacro"/>
	<kuka_lwr_arm parent="leg2_link" name="right">
          <origin xyz="0.0 0.0 0.0" rpy=" 0 0 0"/>
        </kuka_lwr_arm>
</robot>
