<?xml version="1.0" ?>
<launch>
  <rosparam command="load" 
    file="$(find kuka_lwr_bringup)/config/bimanual_lwr_sim_pos_controllers.yaml"/>

  <node name="first_arm_state_separator" pkg="iai_control_utils" type="separate_joint_states.py" args="" output="screen">
    <remap from="~in_joint_states" to="/joint_states"/>
    <remap from="~out_joint_states" to="/first_arm_pos_controller/joint_states"/>
  </node>

  <node name="first_arm_pos_controller" pkg="iai_control_utils" type="joint_p_ctrl.py" args="" output="screen">
    <remap from="~pos_command_in" to="~command"/>
    <remap from="~vel_command_out" to="/first_arm_vel/command"/>
  </node>

  <node name="second_arm_state_separator" pkg="iai_control_utils" type="separate_joint_states.py" args="" output="screen">
    <remap from="~in_joint_states" to="/joint_states"/>
    <remap from="~out_joint_states" to="/second_arm_pos_controller/joint_states"/>
  </node>

  <node name="second_arm_pos_controller" pkg="iai_control_utils" type="joint_p_ctrl.py" args="" output="screen">
    <remap from="~pos_command_in" to="~command"/>
    <remap from="~vel_command_out" to="/second_arm_vel/command"/>
  </node>
</launch>
