<?xml version="1.0" ?>
<launch>
  <rosparam command="load" 
    file="$(find kuka_lwr_bringup)/config/multiarm_lwr_sim_vel_controllers.yaml"/>

  <node name="vel_controllers_spawner" pkg="pr2_controller_manager" type="spawner"
      output="screen" args="first_arm_vel second_arm_vel third_arm_vel fourth_arm_vel"/>
</launch>
